@model exampleapp.Models.CoachField

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CoachField</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkingDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkingDepartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearsEnrolled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearsEnrolled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicBackground)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademicBackground)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastTwoYearsExperience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastTwoYearsExperience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abilities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abilities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternalCoachEffect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternalCoachEffect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PossibleDevelopment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PossibleDevelopment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelfEducation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelfEducation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeliefDevelopment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeliefDevelopment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeadershipFeature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeadershipFeature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmotionalOpenness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmotionalOpenness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmotionalShare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmotionalShare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimetoSpareforCoaching)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimetoSpareforCoaching)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LikeCoaching)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LikeCoaching)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotivationReasoning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotivationReasoning)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supporting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supporting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HaveTimetoListen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HaveTimetoListen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KnowListening)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KnowListening)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptanceDefeat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcceptanceDefeat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KnowingEmpathy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KnowingEmpathy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Positiveness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Positiveness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoachingAbility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoachingAbility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WillingToBeCoached)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WillingToBeCoached)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToleranceToAnything)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToleranceToAnything)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeopleWellness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeopleWellness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupportingPeople)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupportingPeople)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeatureOriented)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeatureOriented)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
